numpy==1.23.5
pandas>=1.1.0
datetime
sktime==0.15.1           # Newer version of sktime that supports ReducedRegressionForecaster
scikit-learn>=1.0.0      # Ensure compatibility with sktime and RandomForest
statsmodels>=0.12.0
pmdarima
streamlit>=1.0
yfinance==0.2.28
